// variables HERE
$color-primary : #fff;
$color-secondary: #f2f2f2;


// INPUT STYLES
$sm-input-border-width: .2rem;
$sm-input-border-color-default: lightgrey;
$sm-input-border-color-focus: #657DFF;
$sm-input-border-color-error: #ff0011;

$sm-input-font-size: 1.5rem;
$sm-input-font-family: monospace;
$sm-input-font-color: black;

$sm-input-padding: .5rem 0;
$sm-input-width: 20rem;
